html{
  height: 100%;
}

body{
    margin: 0;
    background: #494c70;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
  flex: 1 0 auto;
}

/* Nav Bar*/
nav{
    width: 100%;
    height: 80px;
    background: white;
    overflow:auto;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    list-style-type: none;
    padding-top: 5px;
    padding: auto;
}

* {
  box-sizing: border-box;
}

.logo img{
    position: absolute;
    margin-top: .25%;
    margin-left: 5%;
}

.linkedin img{
    position: absolute;
    margin-top: 1%;
    margin-left: 90%;
}

.behance img{
    position: absolute;
    margin-top: .75%;
    margin-left: 95%;
}

.topbtn{
    color: white;
    background-color: #286a8c;
    padding: 8px;
    border: none;
    font-family: "Radio Canada";
    font-size: 20px;
    cursor: pointer;
}

.topbtn:hover{
    background-color: black;
    transition: 0.5s
}

.responsive{
  width: 90%;
  height: auto;
} 

/* Hero Section */
.heroContainer{
  display: grid;
  grid-template-areas: 'hero1 hero2';
  grid-template-rows: 25% 75%;
  font-family: "Lora";
  color: white;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Lora";
  color: white;
}

/* My Portfolio Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  color: white;
}

.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "doi doiSummary"
  "jettySummary jetty"
  "garvin garvinSummary"
  ;
}

.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.doi {
  grid-area: doi;
}

.jetty {
  grid-area: jetty;
}

.garvin {
  grid-area: garvin;
}

.doi, .jetty, .garvin, .doiSummary, .jettySummary, .garvinSummary {
  padding: 40px;
}

.doiSummary {
  grid-area: doiSummary;
}

.doiSummary h4{
  font-family: "Lora";
  font-size: 20px;
  color: #80A9BC;
}

.doiSummary p {
  font-family: "Radio Canada";
  font-size: 18px;
  font-weight: lighter;
}

.jettySummary {
  grid-area: jettySummary;
}

.jettySummary h4{
  font-family: "Lora";
  font-size: 20px;
  color: #80A9BC;
}

.jettySummary p {
  font-family: "Radio Canada";
  font-size: 18px;
  font-weight: lighter;
}

.garvinSummary {
  grid-area: garvinSummary;
}

.garvinSummary h4{
  font-family: "Lora";
  font-size: 20px;
  color: #80A9BC;
}

.garvinSummary p {
  font-family: "Radio Canada";
  font-size: 18px;
  font-weight: lighter;
}

#rectangle{
  width: 100%;
  height: 20px;
  background: #80A9BC;
}

.midbtn{
  color: white;
  background-color: #286a8c;
  padding: 8px;
  border: none;
  font-family: "Radio Canada";
  font-size: 20px;
  cursor: pointer;
}

.midbtn:hover{
  background-color: black;
  transition: 0.5s
}

.myWork h3{
  text-align: center;
  font-family: "Lora";
}

/* Skills Section*/
.skillsGrid {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 50% 50%;
  color: white;
  text-align: center;
}

.left h2{
  font-family: "Lora";
  color: #80A9BC;
}

.left h3{
  font-family: "Radio Canada";
  font-size: 18px;
}

.right h2{
  font-family: "Lora";
}

/* About Me Section */
.item1 {
    grid-area: TL;
}
  
.item2 {
    grid-area: TR;
}
  
.item3 {
    grid-area: BL;
}
  
.item4 {
    grid-area:BR
}
  
  .flexContainer {
    display: grid;
    grid-template-areas:
      'TL TR'
      'BL BR';
    gap: 5px;
    background-color: #494c70;
    padding: 10px;
}
  
  .flexContainer > div {
    text-align: center;
    padding: 20px 20px;
}
  
  .item1 img{
    max-width: 80%;
}

  .item2 h1{
    font-family: "Lora";
    color: white;
}
  
  .item2 h3{
      font-family: "Radio Canada";
      color: white;
      font-weight: 300;
}

  .item4 img{
    max-width: 60%;
}
  
  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
}
  
  input[type=submit] {
    background-color: #286a8c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: absolute;
}
  
  input[type=submit]:hover {
    background-color: #45a049;
}

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

/* Footer Section */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    color: black;
    font-family: "lora";
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: white;
}

.btmbtn {
    color: black;
    background-color: white;
    padding: 8px;
    border: none;
    font-family: "Radio Canada";
    font-size: 20px;
    cursor: pointer;    
}

.btmbtn:hover{
    color: #286a8c;
    transition: 0.5s
}

.btmlogo img{
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
}

.btmlinkedin img{
    position: absolute;
    margin-top: 30px;
    margin-left: 90%;
}

.btmbehance img{
    position: absolute;
    margin-top: 28px;
    margin-left: 95%;
}
.footer-content p{
    position: absolute;
    left: 10%;
    margin-top: 8px;
}

.footer-content ul{
justify-content: space-evenly;
max-width: 992px;
width: 100%;
}

@media only screen and (max-width: 600){

}